In [116]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

In [236]:
d1 = pd.read_csv('football+players+data.csv',index_col=0)
d1.head()

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Special,...,Body Type,Real Face,Position,Jersey Number,Joined,Loaned From,Contract Valid Until,Height,Weight,Release Clause
0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,�110.5M,�565K,2202,...,Messi,Yes,RF,10.0,01-Jul-04,NaN,2021,5'7,159lbs,�226.5M
1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,�77M,�405K,2228,...,C. Ronaldo,Yes,ST,7.0,10-Jul-18,NaN,2022,6'2,183lbs,�127.1M
2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,�118.5M,�290K,2143,...,Neymar,Yes,LW,10.0,03-Aug-17,NaN,2022,5'9,150lbs,�228.1M
3,193080,De Gea,27,Spain,91,93,Manchester United,�72M,�260K,1471,...,Lean,Yes,GK,1.0,01-Jul-11,NaN,2020,6'4,168lbs,�138.6M
4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,�102M,�355K,2281,...,Normal,Yes,RCM,7.0,30-Aug-15,NaN,2023,5'11,154lbs,�196.4M

In [156]:
d1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18207 entries, 0 to 18206
Data columns (total 25 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        18207 non-null  int64
 1   Name                      18207 non-null  object
 2   Age                       18207 non-null  int64
 3   Nationality               18207 non-null  object
 4   Overall                   18207 non-null  int64
 5   Potential                 18207 non-null  int64
 6   Club                      17966 non-null  object
 7   Value                     18207 non-null  object
 8   Wage                      18207 non-null  object
 9   Special                   18207 non-null  int64
 10  Preferred Foot            18159 non-null  object
 11  International Reputation  18159 non-null  float64
 12  Weak Foot                 18159 non-null  float64
 13  Skill Moves               18159 non-null  float64
 14  Work Rate                 18159 non-null  object
 15  Body Type                 18159 non-null  object
 16  Real Face                 18159 non-null  object
 17  Position                  18147 non-null  object
 18  Jersey Number             18147 non-null  float64
 19  Joined                    16654 non-null  object
 20  Loaned From               1264 non-null   object
 21  Contract Valid Until      17918 non-null  object
 22  Height                    18159 non-null  object
 23  Weight                    18159 non-null  object
 24  Release Clause            16643 non-null  object
dtypes: float64(4), int64(5), object(16)
memory usage: 3.6+ MB

In [235]:
d1['Name'].value_counts()

J. Rodr�guez      11
Paulinho           8
J. Williams        7
R. Williams        7
J. Hern�ndez       6
                  ..
H. Rivero          1
Choi Sung Keun     1
J. McLaughlin      1
J. Reeves          1
P. Stolarski       1
Name: Name, Length: 17189, dtype: int64

In [157]:
d1.isnull().sum()/len(d1)*100

ID                           0.000000
Name                         0.000000
Age                          0.000000
Nationality                  0.000000
Overall                      0.000000
Potential                    0.000000
Club                         1.323667
Value                        0.000000
Wage                         0.000000
Special                      0.000000
Preferred Foot               0.263635
International Reputation     0.263635
Weak Foot                    0.263635
Skill Moves                  0.263635
Work Rate                    0.263635
Body Type                    0.263635
Real Face                    0.263635
Position                     0.329544
Jersey Number                0.329544
Joined                       8.529686
Loaned From                 93.057615
Contract Valid Until         1.587302
Height                       0.263635
Weight                       0.263635
Release Clause               8.590103
dtype: float64

In [158]:
d1.drop('Loaned From',axis=1,inplace=True)

In [232]:
d1['Value'].unique()

array(['�110.5M', '�77M', '�118.5M', '�72M', '�102M', '�93M', '�67M',
       '�80M', '�51M', '�68M', '�76.5M', '�44M', '�60M', '�63M', '�89M',
       '�83.5M', '�78M', '�58M', '�53.5M', '�51.5M', '�38M', '�64.5M',
       '�27M', '�81M', '�69.5M', '�59.5M', '�62M', '�73.5M', '�59M',
       '�46M', '�43M', '�36M', '�57M', '�24M', '�30M', '�4M', '�64M',
       '�30.5M', '�62.5M', '�52M', '�45M', '�34M', '�46.5M', '�61M',
       '�41.5M', '�44.5M', '�56.5M', '�53M', '�50M', '�55M', '�36.5M',
       '�45.5M', '�43.5M', '�35M', '�39M', '�18M', '�21.5M', '�50.5M',
       '�54M', '�40.5M', '�37.5M', '�28.5M', '�37M', '�32M', '�26M',
       '�33M', '�38.5M', '�35.5M', '�9M', '�15.5M', '�22M', '�14M',
       '�42.5M', '�31.5M', '�42M', '�25M', '�29.5M', '�31M', '�24.5M',
       '�27.5M', '�29M', '�16.5M', '�23M', '�19M', '�4.2M', '�40M',
       '�41M', '�28M', '�22.5M', '�34.5M', '�32.5M', '�20M', '�26.5M',
       '�25.5M', '�21M', '�13M', '�17.5M', '�11.5M', '�8M', '�6M',
       '�19.5M', '�6.5M', '�20.5M', '�23.5M', '�18.5M', '�17M', '�12.5M',
       '�15M', '�13.5M', '�4.8M', '�3M', '�1.5M', '�16M', '�10M', '�11M',
       '�7M', '�14.5M', '�5.5M', '�10.5M', '�4.5M', '�12M', '� 0',
       '�9.5M', '�8.5M', '�2M', '�1.7M', '�1M', '�3.6M', '�7.5M', '�3.8M',
       '�5M', '�2.4M', '�2.9M', '�4.7M', '�4.1M', '�2.1M', '�600K',
       '�2.7M', '�3.4M', '�2.5M', '�3.2M', '�3.1M', '�4.9M', '�4.3M',
       '�2.3M', '�525K', '�3.9M', '�1.8M', '�2.2M', '�4.4M', '�1.6M',
       '�900K', '�3.7M', '�3.5M', '�1.9M', '�450K', '�775K', '�650K',
       '�750K', '�2.8M', '�1.3M', '�4.6M', '�2.6M', '�1.2M', '�375K',
       '�3.3M', '�270K', '�950K', '�550K', '�1.1M', '�975K', '�1.4M',
       '�725K', '�425K', '�210K', '�875K', '�675K', '�325K', '�800K',
       '�850K', '�160K', '�120K', '�825K', '�925K', '�625K', '�240K',
       '�500K', '�575K', '�200K', '�250K', '�700K', '�350K', '�475K',
       '�300K', '�70K', '�140K', '�230K', '�400K', '�280K', '�100K',
       '�60K', '�260K', '�180K', '�220K', '�50K', '�290K', '�90K',
       '�150K', '�40K', '�130K', '�190K', '�170K', '�110K', '�30K',
       '�80K', '�20K', '�10K'], dtype=object)

In [162]:
d1['Value'] = d1['Value'].str.replace('M','')
d1['Value'] = d1['Value'].str.replace('K','')
d1['Value'] = d1['Value'].str.replace('�','')
d1['Value'] = d1['Value'].apply(lambda x:x.strip())

In [163]:
d1['Value'].unique()

array(['110.5', '77', '118.5', '72', '102', '93', '67', '80', '51', '68',
       '76.5', '44', '60', '63', '89', '83.5', '78', '58', '53.5', '51.5',
       '38', '64.5', '27', '81', '69.5', '59.5', '62', '73.5', '59', '46',
       '43', '36', '57', '24', '30', '4', '64', '30.5', '62.5', '52',
       '45', '34', '46.5', '61', '41.5', '44.5', '56.5', '53', '50', '55',
       '36.5', '45.5', '43.5', '35', '39', '18', '21.5', '50.5', '54',
       '40.5', '37.5', '28.5', '37', '32', '26', '33', '38.5', '35.5',
       '9', '15.5', '22', '14', '42.5', '31.5', '42', '25', '29.5', '31',
       '24.5', '27.5', '29', '16.5', '23', '19', '4.2', '40', '41', '28',
       '22.5', '34.5', '32.5', '20', '26.5', '25.5', '21', '13', '17.5',
       '11.5', '8', '6', '19.5', '6.5', '20.5', '23.5', '18.5', '17',
       '12.5', '15', '13.5', '4.8', '3', '1.5', '16', '10', '11', '7',
       '14.5', '5.5', '10.5', '4.5', '12', '0', '9.5', '8.5', '2', '1.7',
       '1', '3.6', '7.5', '3.8', '5', '2.4', '2.9', '4.7', '4.1', '2.1',
       '600', '2.7', '3.4', '2.5', '3.2', '3.1', '4.9', '4.3', '2.3',
       '525', '3.9', '1.8', '2.2', '4.4', '1.6', '900', '3.7', '3.5',
       '1.9', '450', '775', '650', '750', '2.8', '1.3', '4.6', '2.6',
       '1.2', '375', '3.3', '270', '950', '550', '1.1', '975', '1.4',
       '725', '425', '210', '875', '675', '325', '800', '850', '160',
       '120', '825', '925', '625', '240', '500', '575', '200', '250',
       '700', '350', '475', '300', '70', '140', '230', '400', '280',
       '100', '260', '180', '220', '290', '90', '150', '130', '190',
       '170', '110'], dtype=object)

In [164]:
d1['Wage'].unique()

array(['�565K', '�405K', '�290K', '�260K', '�355K', '�340K', '�420K',
       '�455K', '�380K', '�94K', '�205K', '�125K', '�285K', '�225K',
       '�145K', '�240K', '�315K', '�200K', '�130K', '�300K', '�215K',
       '�100K', '�255K', '�165K', '�265K', '�160K', '�150K', '�245K',
       '�110K', '�77K', '�115K', '�210K', '�195K', '�230K', '�250K',
       '�135K', '�155K', '�180K', '�175K', '�190K', '�185K', '�21K',
       '�82K', '�73K', '�92K', '�88K', '�96K', '�170K', '�66K', '�235K',
       '�28K', '�105K', '�38K', '�81K', '�57K', '�15K', '�63K', '�22K',
       '�84K', '�120K', '�90K', '�72K', '�93K', '�45K', '�74K', '�51K',
       '�42K', '�31K', '�75K', '�25K', '�140K', '�41K', '�78K', '�53K',
       '�95K', '�80K', '�43K', '�60K', '�85K', '�64K', '�67K', '�18K',
       '�70K', '�91K', '�20K', '�49K', '�87K', '�86K', '�26K', '�29K',
       '�55K', '�35K', '�33K', '�56K', '�30K', '�11K', '�59K', '�23K',
       '�46K', '�39K', '�32K', '�36K', '�98K', '�54K', '�68K', '�58K',
       '�27K', '�40K', '�44K', '�19K', '�1K', '�61K', '�50K', '�99K',
       '�17K', '�52K', '�62K', '�12K', '�10K', '�71K', '�14K', '�76K',
       '�48K', '�65K', '�69K', '�24K', '�34K', '�16K', '�37K', '�47K',
       '�89K', '� 0', '�97K', '�79K', '�13K', '�83K', '�6K', '�3K', '�9K',
       '�8K', '�7K', '�4K', '�2K', '�5K'], dtype=object)

In [165]:
d1['Wage'] = d1['Wage'].str.replace("�","")
d1['Wage'] = d1['Wage'].str.replace('K','')
d1['Wage'] = d1['Wage'].apply(lambda x:x.strip())

In [166]:
d1['Wage'].unique()

array(['565', '405', '290', '260', '355', '340', '420', '455', '380',
       '94', '205', '125', '285', '225', '145', '240', '315', '200',
       '130', '300', '215', '100', '255', '165', '265', '160', '150',
       '245', '110', '77', '115', '210', '195', '230', '250', '135',
       '155', '180', '175', '190', '185', '21', '82', '73', '92', '88',
       '96', '170', '66', '235', '28', '105', '38', '81', '57', '15',
       '63', '22', '84', '120', '90', '72', '93', '45', '74', '51', '42',
       '31', '75', '25', '140', '41', '78', '53', '95', '80', '43', '60',
       '85', '64', '67', '18', '70', '91', '20', '49', '87', '86', '26',
       '29', '55', '35', '33', '56', '30', '11', '59', '23', '46', '39',
       '32', '36', '98', '54', '68', '58', '27', '40', '44', '19', '1',
       '61', '50', '99', '17', '52', '62', '12', '10', '71', '14', '76',
       '48', '65', '69', '24', '34', '16', '37', '47', '89', '0', '97',
       '79', '13', '83', '6', '3', '9', '8', '7', '4', '2', '5'],
      dtype=object)

In [167]:
d1['Contract Valid Until'].unique()

array(['2021', '2022', '2020', '2023', '2019', '2024', '30-Jun-19',
       '2025', '2026', '31-Dec-18', '2018', nan, '31-May-20', '30-Jun-20',
       '31-May-19', '31-Dec-19', '01-Jan-19', '01-Jun-19', '04-Jan-19',
       '31-Jan-19', '07-Jan-19', '02-Jan-19', '06-Jan-19', '14-Oct-19',
       '03-Jan-19', '04-May-19', '12-Jan-19', '25-Jan-19', '18-Jan-19',
       '01-Dec-19', '30-Nov-18', '27-Feb-20', '05-Jan-19', '15-Jan-19',
       '30-Jan-19', '11-Jan-19', '20-Jan-19'], dtype=object)

In [168]:
d1.dropna(subset=['Contract Valid Until'],inplace=True)

In [169]:
from datetime import datetime
loc = []

for i in d1['Contract Valid Until']:
    if len(i)<=4:
        loc.append(int(i))
    else:
        a = datetime.strptime(i, '%d-%b-%y').year
        loc.append(a)

In [170]:
d1['Contract Valid Until'] = loc

In [225]:
d1['Contract Valid Until']

0        2021
1        2022
2        2022
3        2020
4        2023
         ...
18202    2019
18203    2020
18204    2021
18205    2019
18206    2019
Name: Contract Valid Until, Length: 16643, dtype: int64

In [172]:
d1['Wage'] = pd.to_numeric(d1['Wage'])
d1['Value'] = pd.to_numeric(d1['Value'])

In [173]:
d1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17918 entries, 0 to 18206
Data columns (total 24 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        17918 non-null  int64
 1   Name                      17918 non-null  object
 2   Age                       17918 non-null  int64
 3   Nationality               17918 non-null  object
 4   Overall                   17918 non-null  int64
 5   Potential                 17918 non-null  int64
 6   Club                      17918 non-null  object
 7   Value                     17918 non-null  float64
 8   Wage                      17918 non-null  int64
 9   Special                   17918 non-null  int64
 10  Preferred Foot            17918 non-null  object
 11  International Reputation  17918 non-null  float64
 12  Weak Foot                 17918 non-null  float64
 13  Skill Moves               17918 non-null  float64
 14  Work Rate                 17918 non-null  object
 15  Body Type                 17918 non-null  object
 16  Real Face                 17918 non-null  object
 17  Position                  17918 non-null  object
 18  Jersey Number             17918 non-null  float64
 19  Joined                    16654 non-null  object
 20  Contract Valid Until      17918 non-null  int64
 21  Height                    17918 non-null  object
 22  Weight                    17918 non-null  object
 23  Release Clause            16643 non-null  object
dtypes: float64(5), int64(7), object(12)
memory usage: 3.4+ MB

In [174]:
d1.shape

(17918, 24)

In [175]:
d1['ID'].unique()

array([158023,  20801, 190871, ..., 241638, 246268, 246269], dtype=int64)

In [176]:
d1['Name'].unique()

array(['L. Messi', 'Cristiano Ronaldo', 'Neymar Jr', ..., 'B. Worman',
       'D. Walker-Rice', 'G. Nugent'], dtype=object)

In [177]:
d1['Age'].unique()

array([31, 33, 26, 27, 32, 25, 29, 28, 24, 30, 19, 40, 22, 23, 34, 35, 36,
       37, 21, 18, 20, 39, 17, 38, 41, 45, 42, 16, 44], dtype=int64)

In [178]:
d1['Nationality'].unique()

array(['Argentina', 'Portugal', 'Brazil', 'Spain', 'Belgium', 'Croatia',
       'Uruguay', 'Slovenia', 'Poland', 'Germany', 'France', 'England',
       'Italy', 'Egypt', 'Colombia', 'Denmark', 'Gabon', 'Wales',
       'Senegal', 'Costa Rica', 'Slovakia', 'Netherlands',
       'Bosnia Herzegovina', 'Morocco', 'Serbia', 'Algeria', 'Austria',
       'Greece', 'Chile', 'Sweden', 'Korea Republic', 'Finland', 'Guinea',
       'Montenegro', 'Armenia', 'Switzerland', 'Norway', 'Czech Republic',
       'Scotland', 'Ghana', 'Central African Rep.', 'DR Congo',
       'Ivory Coast', 'Russia', 'Ukraine', 'Iceland', 'Mexico', 'Jamaica',
       'Albania', 'Venezuela', 'Japan', 'Turkey', 'Ecuador', 'Paraguay',
       'Mali', 'Nigeria', 'Cameroon', 'Dominican Republic', 'Israel',
       'Kenya', 'Hungary', 'Republic of Ireland', 'Romania',
       'United States', 'Cape Verde', 'Australia', 'Peru', 'Togo',
       'Syria', 'Zimbabwe', 'Angola', 'Burkina Faso', 'Iran', 'Estonia',
       'Tunisia', 'Equatorial Guinea', 'New Zealand', 'FYR Macedonia',
       'United Arab Emirates', 'China PR', 'Guinea Bissau', 'Bulgaria',
       'Kosovo', 'South Africa', 'Madagascar', 'Georgia', 'Tanzania',
       'Gambia', 'Cuba', 'Belarus', 'Uzbekistan', 'Benin', 'Congo',
       'Mozambique', 'Honduras', 'Canada', 'Northern Ireland', 'Cyprus',
       'Saudi Arabia', 'Curacao', 'Moldova', 'Bolivia',
       'Trinidad & Tobago', 'Sierra Leone', 'Zambia', 'Chad',
       'Philippines', 'Haiti', 'Comoros', 'Libya', 'Panama',
       'S�o Tom� & Pr�ncipe', 'Eritrea', 'Oman', 'Iraq', 'Burundi',
       'Fiji', 'New Caledonia', 'Lithuania', 'Luxembourg', 'Korea DPR',
       'Liechtenstein', 'St Kitts Nevis', 'Latvia', 'Suriname', 'Uganda',
       'El Salvador', 'Bermuda', 'Kuwait', 'Antigua & Barbuda',
       'Thailand', 'Mauritius', 'Guatemala', 'Liberia', 'Kazakhstan',
       'Niger', 'Mauritania', 'Montserrat', 'Namibia', 'Azerbaijan',
       'Guam', 'Faroe Islands', 'Nicaragua', 'Barbados', 'Lebanon',
       'Palestine', 'Guyana', 'Sudan', 'St Lucia', 'Ethiopia',
       'Puerto Rico', 'Grenada', 'Jordan', 'Rwanda', 'Qatar',
       'Afghanistan', 'Hong Kong', 'Andorra', 'Malta', 'Belize',
       'South Sudan', 'Indonesia', 'Botswana'], dtype=object)

In [179]:
d1['Overall'].unique()

array([94, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77,
       76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60,
       59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46],
      dtype=int64)

In [180]:
d1['Potential'].unique()

array([94, 93, 92, 91, 90, 89, 95, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79,
       78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62,
       61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 48], dtype=int64)

In [181]:
d1['Club'].unique()

array(['FC Barcelona', 'Juventus', 'Paris Saint-Germain',
       'Manchester United', 'Manchester City', 'Chelsea', 'Real Madrid',
       'Atl�tico Madrid', 'FC Bayern M�nchen', 'Tottenham Hotspur',
       'Liverpool', 'Napoli', 'Arsenal', 'Milan', 'Inter', 'Lazio',
       'Borussia Dortmund', 'Vissel Kobe', 'Olympique Lyonnais', 'Roma',
       'Valencia CF', 'Guangzhou Evergrande Taobao FC', 'FC Porto',
       'FC Schalke 04', 'Be?ikta? JK', 'LA Galaxy', 'Sporting CP',
       'Real Betis', 'Olympique de Marseille', 'RC Celta',
       'Bayer 04 Leverkusen', 'Real Sociedad', 'Villarreal CF',
       'Sevilla FC', 'SL Benfica', 'AS Saint-�tienne', 'AS Monaco',
       'Leicester City', 'Atalanta', 'Gr�mio', 'Atl�tico Mineiro',
       'RB Leipzig', 'Ajax', 'Dalian YiFang FC', 'Everton',
       'West Ham United', '1. FC K�ln', 'TSG 1899 Hoffenheim',
       'Shanghai SIPG FC', 'OGC Nice', 'Al Nassr',
       'Wolverhampton Wanderers', 'Borussia M�nchengladbach',
       'Hertha BSC', 'SV Werder Bremen', 'Cruzeiro',
       'Athletic Club de Bilbao', 'Torino', 'Medipol Ba?ak?ehir FK',
       'Beijing Sinobo Guoan FC', 'Crystal Palace', 'PFC CSKA Moscow',
       'VfL Wolfsburg', 'Shakhtar Donetsk', 'Toronto FC',
       'Lokomotiv Moscow', 'Sassuolo', 'New York City FC', 'Fluminense',
       'PSV', 'Levante UD', 'Fulham', 'Watford', 'Atlanta United',
       'Montpellier HSC', 'Galatasaray SK', 'Fenerbah�e SK', 'SD Eibar',
       'Los Angeles FC', 'Sampdoria', 'Al Hilal', 'VfB Stuttgart',
       'SC Braga', 'River Plate', 'Deportivo Alav�s',
       'Eintracht Frankfurt', 'Girona FC', 'Guangzhou R&F; FC', 'Burnley',
       'Stoke City', 'Southampton', 'Tianjin Quanjian FC', 'Getafe CF',
       'Beijing Renhe FC', 'Montreal Impact', 'Chievo Verona', 'Genoa',
       'Portland Timbers', 'Tigres U.A.N.L.', 'RCD Espanyol',
       'Hebei China Fortune FC', 'Cagliari', 'Chicago Fire', 'DC United',
       'Sagan Tosu', 'Dynamo Kyiv', 'Santos', 'Internacional',
       'Am�rica FC (Minas Gerais)', 'Independiente', 'Boca Juniors',
       'Cruz Azul', '1. FSV Mainz 05', 'Bournemouth', 'Spartak Moscow',
       'Racing Club', 'FC Augsburg', 'Fiorentina', 'FC Nantes',
       'Feyenoord', 'Club Brugge KV', 'Brighton & Hove Albion', 'Al Ahli',
       'Jiangsu Suning FC', 'SC Freiburg', 'PAOK', 'Stade Rennais FC',
       'Trabzonspor', 'SPAL', 'Portimonense SC', 'Olympiacos CFP',
       'Club Atl�tico Hurac�n', 'Kasimpa?a SK', 'Newcastle United',
       'Frosinone', 'Quer�taro', 'KRC Genk', 'Hannover 96',
       'Stade Malherbe Caen', 'Godoy Cruz', 'Toulouse Football Club',
       'RSC Anderlecht', 'Huddersfield Town', 'CD Tondela',
       'Seattle Sounders FC', 'Hamburger SV', 'FC Red Bull Salzburg',
       'Rio Ave FC', 'FC Girondins de Bordeaux', 'Melbourne Victory',
       'Parma', 'FC Basel 1893', 'Al Wehda', 'BSC Young Boys', 'KAA Gent',
       'Al Ittihad', 'Standard de Li�ge', 'Shanghai Greenland Shenhua FC',
       'Colo-Colo', 'Junior FC', 'West Bromwich Albion',
       'RC Strasbourg Alsace', 'G�ztepe SK', 'Deportivo Cali',
       'Deportivo Toluca', 'Bologna', 'Nagoya Grampus', 'Amiens SC',
       'Changchun Yatai FC', 'Club Atl�tico Lan�s', 'Botafogo',
       'Club Am�rica', 'Udinese', 'Real Valladolid CF', 'CD Legan�s',
       'Club Atl�tico Banfield', 'Celtic', 'Vit�ria Guimar�es',
       'FC K�benhavn', 'UD Las Palmas', 'Deportivo de La Coru�a',
       'Universidad Cat�lica', 'San Lorenzo de Almagro', 'Rayo Vallecano',
       'Monterrey', 'Columbus Crew SC', 'MKE Ankarag�c�',
       'Guizhou Hengfeng FC', 'Swansea City', 'Tianjin TEDA FC',
       'Chongqing Dangdai Lifan FC SWM Team', 'AEK Athens', 'Al Taawoun',
       'Melbourne City FC', 'En Avant de Guingamp',
       'Akhisar Belediyespor', 'Foggia', 'LOSC Lille', '1. FC N�rnberg',
       'Clube Sport Mar�timo', 'Real Sporting de Gij�n', 'BB Erzurumspor',
       'Shandong Luneng TaiShan FC', 'Club Atl�tico Col�n', 'Bahia',
       'Once Caldas', 'FC Groningen', 'Angers SCO', 'Paran�',
       'Antalyaspor', 'Minnesota United FC', 'Club Le�n', 'Empoli',
       'VVV-Venlo', 'Leeds United', 'Viktoria Plze?', 'Alanyaspor',
       'Atl�tico Paranaense', 'Derby County', 'Kawasaki Frontale',
       'Cardiff City', 'Aston Villa', 'Guadalajara', 'Dijon FCO',
       'Santos Laguna', 'M�laga CF', 'Vit�ria', '�aykur Rizespor',
       'U.N.A.M.', 'Nottingham Forest', 'Royal Antwerp FC',
       'Club Tijuana', 'Sport Club do Recife', 'Real Salt Lake',
       'AZ Alkmaar', 'SK Slavia Praha', 'Willem II', 'Middlesbrough',
       'Dinamo Zagreb', 'Club Atlas', 'Granada CF', 'Sydney FC',
       'Sporting Kansas City', 'SV Zulte-Waregem', 'Philadelphia Union',
       'Real Oviedo', 'Pachuca', 'Boavista FC', 'Atiker Konyaspor',
       'Kaizer Chiefs', 'GD Chaves', 'Palermo', 'Atl�tico Nacional',
       'Puebla FC', 'Perth Glory', 'Panathinaikos FC', 'FC Sion',
       'Vit�ria de Set�bal', 'New York Red Bulls', 'Al Shabab',
       'Monarcas Morelia', 'Albacete BP', 'Rangers FC', 'Sparta Praha',
       'Legia Warszawa', 'Urawa Red Diamonds', 'Rosario Central',
       'Stade de Reims', 'ADO Den Haag', 'Chapecoense', 'FC Midtjylland',
       'San Jose Earthquakes', 'Belgrano de C�rdoba', 'Brescia',
       'Kashima Antlers', 'CD Everton de Vi�a del Mar',
       'Fortuna D�sseldorf', 'SD Huesca', 'Preston North End',
       'Club Atl�tico Talleres', 'Benevento', 'Vitesse',
       'Gimnasia y Esgrima La Plata', 'Houston Dynamo', 'Club Necaxa',
       'Norwich City', 'Holstein Kiel', 'Ettifaq FC', 'Kayserispor',
       '1. FC Heidenheim 1846', 'Brentford', 'Yeni Malatyaspor',
       'Lobos BUAP', 'Bursaspor', 'Cear� Sporting Club',
       'Sheffield United', 'FC Ingolstadt 04', 'Estudiantes de La Plata',
       'AIK', 'Queens Park Rangers', 'Suwon Samsung Bluewings',
       'Heart of Midlothian', 'Reading', 'FC Dallas', 'Heracles Almelo',
       'Venezia FC', 'CD Lugo', 'Henan Jianye FC', 'Orlando City SC',
       'CA Osasuna', 'NAC Breda', 'Livorno', 'Universidad de Chile',
       'Br�ndby IF', 'Aberdeen', 'Defensa y Justicia', 'Atl�tico Tucum�n',
       'Blackburn Rovers', 'SV Darmstadt 98', 'Moreirense FC',
       'Sanfrecce Hiroshima', 'CD Numancia', 'KV Oostende', 'FC Utrecht',
       'Vancouver Whitecaps FC', 'Odense Boldklub', 'SC Heerenveen',
       'Racing Club de Lens', 'Independiente Santa Fe',
       'Sporting de Charleroi', 'Millonarios FC', 'Sheffield Wednesday',
       'Perugia', 'Daegu FC', 'V�lez Sarsfield',
       'Grasshopper Club Z�rich', 'Sivasspor', 'N�mes Olympique',
       'Rosenborg BK', 'SK Sturm Graz', 'FC Metz',
       'CD Universidad de Concepci�n', 'Hellas Verona', 'Brisbane Roar',
       'CD Feirense', 'Hull City', 'Waasland-Beveren', 'Neuch�tel Xamax',
       'Real Zaragoza', 'CD Aves', 'Millwall', 'Uni�n de Santa Fe',
       'KAS Eupen', 'C�diz CF', 'FC Tokyo', 'CD Tenerife',
       '1. FC Union Berlin', 'Al Fayha', 'AJ Auxerre',
       'Patriotas Boyac� FC', 'Molde FK', 'Bristol City', 'CD Nacional',
       'Sporting Lokeren', 'FC St. Pauli', 'Deportes Iquique',
       'Al Qadisiyah', 'Atl�tico Bucaramanga', 'Club Atl�tico Tigre',
       'FK Austria Wien', 'Patronato', 'Malm� FF', 'Kashiwa Reysol',
       'US Cremonese', 'VfL Bochum 1848', 'SK Rapid Wien',
       'KSV Cercle Brugge', 'Rionegro �guilas', 'Gimn�stic de Tarragona',
       'Lecce', 'Santa Clara', 'BK H�cken', 'New England Revolution',
       'Orlando Pirates', 'Atl�tico Huila', 'Western Sydney Wanderers',
       'Kalmar FF', 'Independiente Medell�n', 'Fortuna Sittard',
       'Lech Pozna?', 'Djurg�rdens IF', 'CF Reus Deportiu', 'SK Brann',
       'Ulsan Hyundai FC', 'Sint-Truidense VV', 'Carpi', 'Al Fateh',
       'Royal Excel Mouscron', 'AC Ajaccio', 'PEC Zwolle', 'Sunderland',
       'Club Atl�tico Aldosivi', 'US Salernitana 1919', 'FC Lorient',
       'Argentinos Juniors', 'AD Alcorc�n', 'Crotone', 'Excelsior',
       'KV Kortrijk', 'IFK Norrk�ping', 'Adelaide United',
       'FC St. Gallen', 'Tiburones Rojos de Veracruz', 'CD Palestino',
       'Jeju United FC', 'Deportes Tolima', 'Jeonbuk Hyundai Motors',
       'Birmingham City', 'Am�rica de Cali', 'La Equidad', 'Spezia',
       'Aalborg BK', 'Le Havre AC', 'G�rnik Zabrze',
       'Central Coast Mariners', 'Wigan Athletic',
       'Jagiellonia Bia?ystok', 'Cittadella', 'Hibernian', 'FC Lugano',
       'San Mart�n de San Juan', 'Str�msgodset IF', 'J�bilo Iwata',
       "Newell's Old Boys", 'Al Faisaly', 'Colorado Rapids',
       'IF Elfsborg', 'SV Sandhausen', 'Al Batin', 'Stade Brestois 29',
       'UD Almer�a', 'Gyeongnam FC', 'Yokohama F. Marinos', 'Kilmarnock',
       'Pescara', 'Newcastle Jets', 'C�rdoba CF', 'RCD Mallorca',
       'Hammarby IF', 'Cerezo Osaka', 'KFC Uerdingen 05',
       'Shimizu S-Pulse', 'MSV Duisburg', 'Os Belenenses',
       'DSC Arminia Bielefeld', 'Ipswich Town', 'FC Seoul',
       'Lechia Gda?sk', 'Gamba Osaka', 'CF Rayo Majadahonda', 'LASK Linz',
       'Bolton Wanderers', 'Al Raed', 'Extremadura UD', 'SC Paderborn 07',
       'Wellington Phoenix', 'Uni�n Espa�ola', 'Alianza Petrolera',
       'Cracovia', 'Gangwon FC', 'Elche CF', 'ESTAC Troyes', 'AS B�ziers',
       'La Berrichonne de Ch�teauroux', 'Clermont Foot 63',
       '1. FC Magdeburg', 'Pohang Steelers', '�rebro SK', 'Arka Gdynia',
       'SG Dynamo Dresden', 'SpVgg Greuther F�rth', 'CD Huachipato',
       'Wis?a Krak�w', 'Stab�k Fotball', 'Eintracht Braunschweig',
       'Valenciennes FC', 'FC Thun', 'San Luis de Quillota',
       ' SSV Jahn Regensburg', 'Cosenza', 'FC Nordsj�lland',
       'FC Erzgebirge Aue', 'Jeonnam Dragons', 'Wolfsberger AC',
       'Chamois Niortais Football Club', 'Club Deportes Temuco',
       'AS Nancy Lorraine', 'Red Star FC', 'Al Hazem', 'Pogo? Szczecin',
       'Charlton Athletic', 'Grenoble Foot 38', 'FC Hansa Rostock',
       'San Martin de Tucum�n', 'Incheon United FC', '?l?sk Wroc?aw',
       'GFC Ajaccio', '1. FC Kaiserslautern', 'Deportivo Pasto',
       'Lincoln City', 'Motherwell', 'Rotherham United', 'Burton Albion',
       'Wis?a P?ock', 'FC Wacker Innsbruck', 'Peterborough United',
       'Ascoli', 'FC Z�rich', 'Fleetwood Town', 'Padova',
       'FC Sochaux-Montb�liard', 'SV Wehen Wiesbaden', 'Uni�n La Calera',
       'Scunthorpe United', "CD O'Higgins", 'CD Antofagasta',
       'Plymouth Argyle', 'Aarhus GF', 'Lillestr�m SK', 'Karlsruher SC',
       'GIF Sundsvall', 'FC Emmen', 'Barnsley', 'Audax Italiano',
       'V-Varen Nagasaki', 'Paris FC', 'SpVgg Unterhaching', 'Hobro IK',
       'De Graafschap', 'Hokkaido Consadole Sapporo', 'Troms� IL',
       'FC Luzern', 'FK Haugesund', 'Zag??bie Lubin', 'VfR Aalen',
       'Dundalk', 'Oxford United', 'Piast Gliwice', 'Ohod Club',
       '�stersunds FK', 'Vegalta Sendai', 'Crawley Town',
       'FC Admira Wacker M�dling', 'V�lerenga Fotball', 'Dundee FC',
       'Portsmouth', 'Envigado FC', 'Mied? Legnica', 'Odds BK',
       'SC Fortuna K�ln', 'US Orl�ans Loiret Football', 'Sarpsborg 08 FF',
       'Jaguares de C�rdoba', 'Bradford City', 'Accrington Stanley',
       'St. Johnstone FC', 'Boyac� Chic� FC', 'Luton Town',
       'SV Mattersburg', 'Kristiansund BK', 'Sangju Sangmu FC',
       'Rochdale', 'Walsall', 'Korona Kielce', 'Shonan Bellmare',
       'FC W�rzburger Kickers', 'FSV Zwickau', 'St. Mirren', 'AC Horsens',
       'Esbjerg fB', 'HJK Helsinki', 'Southend United', 'Bristol Rovers',
       'Hamilton Academical FC', 'TSV 1860 M�nchen', 'Curic� Unido',
       'SCR Altach', 'Ranheim Fotball', 'Stevenage',
       'SG Sonnenhof Gro�aspach', 'Oldham Athletic', 'Milton Keynes Dons',
       'FK Bod�/Glimt', 'SC Preu�en M�nster', 'Wycombe Wanderers',
       'Vejle Boldklub', 'Bury', 'Randers FC', 'VfL Osnabr�ck',
       'S�nderjyskE', 'IFK G�teborg', 'Mansfield Town', 'Coventry City',
       'Waterford FC', 'Shrewsbury', 'IK Start', 'Gillingham',
       'FC Energie Cottbus', 'FC Carl Zeiss Jena', 'Hallescher FC',
       'SV Meppen', 'AFC Wimbledon', 'Blackpool', 'Doncaster Rovers',
       'Sandefjord Fotball', 'VfL Sportfreunde Lotte', 'Cheltenham Town',
       'IK Sirius', 'Vendsyssel FF', 'Swindon Town', 'Notts County',
       'SKN St. P�lten', 'Exeter City', 'Northampton Town',
       'Shamrock Rovers', 'Colchester United', 'Livingston FC',
       'TSV Hartberg', 'Tranmere Rovers', 'Cambridge United',
       'Grimsby Town', 'Port Vale', 'Itag�� Leones FC',
       'Forest Green Rovers', 'Dalkurd FF', 'Zag??bie Sosnowiec',
       'Carlisle United', 'Trelleborgs FF', "St. Patrick's Athletic",
       'Morecambe', 'Cork City', 'IF Brommapojkarna', 'Crewe Alexandra',
       'Yeovil Town', 'Bohemian FC', 'Macclesfield Town',
       'Newport County', 'Sligo Rovers', 'Derry City', 'Limerick FC',
       'Bray Wanderers'], dtype=object)

In [182]:
d1['Special'].unique()

array([2202, 2228, 2143, ...,  778,  738,  731], dtype=int64)

In [183]:
d1['Preferred Foot'].unique()

array(['Left', 'Right'], dtype=object)

In [184]:
d1['International Reputation']

0        5.0
1        5.0
2        5.0
3        4.0
4        4.0
        ...
18202    1.0
18203    1.0
18204    1.0
18205    1.0
18206    1.0
Name: International Reputation, Length: 17918, dtype: float64

In [185]:
d1['Weak Foot']

0        4.0
1        4.0
2        5.0
3        3.0
4        5.0
        ...
18202    2.0
18203    2.0
18204    3.0
18205    3.0
18206    3.0
Name: Weak Foot, Length: 17918, dtype: float64

In [186]:
d1['Skill Moves']

0        4.0
1        5.0
2        5.0
3        1.0
4        4.0
        ...
18202    2.0
18203    2.0
18204    2.0
18205    2.0
18206    2.0
Name: Skill Moves, Length: 17918, dtype: float64

In [187]:
d1['Work Rate'].unique()

array(['Medium/ Medium', 'High/ Low', 'High/ Medium', 'High/ High',
       'Medium/ High', 'Medium/ Low', 'Low/ High', 'Low/ Medium',
       'Low/ Low'], dtype=object)

In [188]:
d1['Body Type'].unique()

array(['Messi', 'C. Ronaldo', 'Neymar', 'Lean', 'Normal', 'Courtois',
       'Stocky', 'PLAYER_BODY_TYPE_25', 'Shaqiri', 'Akinfenwa'],
      dtype=object)

In [189]:
d1['Real Face'].unique()

array(['Yes', 'No'], dtype=object)

In [190]:
d1['Position'].unique()

array(['RF', 'ST', 'LW', 'GK', 'RCM', 'LF', 'RS', 'RCB', 'LCM', 'CB',
       'LDM', 'CAM', 'CDM', 'LS', 'LCB', 'RM', 'LAM', 'LM', 'LB', 'RDM',
       'RW', 'CM', 'RB', 'RAM', 'CF', 'RWB', 'LWB'], dtype=object)

In [191]:
d1['Jersey Number'].unique()

array([10.,  7.,  1.,  9., 15.,  8., 21., 13., 22.,  5.,  3., 14., 12.,
       11.,  2., 23., 26.,  6., 17., 18.,  4., 19., 31., 25., 37., 30.,
       44., 29., 24., 20., 16., 33., 28., 27., 77., 47., 38., 40., 92.,
       36., 87., 34., 32., 83., 70., 35., 89., 56., 99., 57., 91., 86.,
       45., 63., 39., 43., 42., 93., 72., 71., 88., 55., 80., 50., 66.,
       60., 73., 67., 74., 69., 76., 41., 90., 46., 75., 79., 62., 81.,
       61., 49., 95., 53., 96., 97., 68., 98., 94., 58., 78., 48., 52.,
       54., 84., 82., 65., 64., 51., 59., 85.])

In [192]:
d1['Joined'].unique()

array(['01-Jul-04', '10-Jul-18', '03-Aug-17', ..., '22-May-17',
       '06-Nov-16', '27-Nov-18'], dtype=object)

In [193]:
d1['Joined'].isnull().sum()/len(d1)*100

7.0543587453956915

In [194]:
d1.dropna(subset=['Joined'],inplace=True)

In [195]:
d1['Joined'] = pd.to_datetime(d1['Joined']).dt.year

In [196]:
d1['Joined']

0        2004
1        2018
2        2017
3        2011
4        2015
         ...
18202    2017
18203    2018
18204    2017
18205    2018
18206    2018
Name: Joined, Length: 16654, dtype: int64

In [197]:
d1['Height'].unique()

array(["5'7", "6'2", "5'9", "6'4", "5'11", "5'8", "6'0", "5'6", "5'10",
       "6'6", "6'1", "5'4", "6'3", "5'5", "6'5", "6'7", "5'3", "5'2",
       "6'8", "5'1", "6'9"], dtype=object)

In [198]:
d1.dropna(subset=['Height'],inplace=True)

In [199]:
d1['Height'] = d1['Height'].apply(lambda x:x.replace("'",'.'))

In [200]:
d1['Height'] = d1['Height'].astype(float)

In [201]:
d1['Height']

0        5.70
1        6.20
2        5.90
3        6.40
4        5.11
         ...
18202    5.90
18203    6.30
18204    5.80
18205    5.10
18206    5.10
Name: Height, Length: 16654, dtype: float64

In [202]:
d1['Weight'].unique()

array(['159lbs', '183lbs', '150lbs', '168lbs', '154lbs', '163lbs',
       '146lbs', '190lbs', '181lbs', '192lbs', '176lbs', '172lbs',
       '148lbs', '165lbs', '196lbs', '161lbs', '187lbs', '212lbs',
       '170lbs', '203lbs', '157lbs', '185lbs', '130lbs', '174lbs',
       '207lbs', '134lbs', '141lbs', '152lbs', '179lbs', '132lbs',
       '201lbs', '198lbs', '209lbs', '214lbs', '143lbs', '205lbs',
       '137lbs', '194lbs', '216lbs', '139lbs', '220lbs', '126lbs',
       '218lbs', '123lbs', '128lbs', '223lbs', '121lbs', '115lbs',
       '117lbs', '236lbs', '229lbs', '243lbs', '225lbs', '227lbs',
       '110lbs', '119lbs', '234lbs'], dtype=object)

In [203]:
d1['Weight'] = d1['Weight'].apply(lambda x:x.replace('lbs',''))

In [204]:
d1['Weight'] = d1['Weight'].astype(int)

In [205]:
d1['Weight']

0        159
1        183
2        150
3        168
4        154
        ...
18202    134
18203    170
18204    148
18205    154
18206    176
Name: Weight, Length: 16654, dtype: int32

In [206]:
d1['Release Clause'].unique()

array(['�226.5M', '�127.1M', '�228.1M', ..., '�74K', '�101K', '�147K'],
      dtype=object)

In [207]:
d1['Release Clause'].isnull().sum()/len(d1)*100

0.06605019815059446

In [208]:
d1.dropna(subset=['Release Clause'],inplace=True)

In [209]:
d1['Release Clause'] = d1['Release Clause'].apply(lambda x:x.replace('M',''))
d1['Release Clause'] = d1['Release Clause'].apply(lambda x:x.replace('�',''))
d1['Release Clause'] = d1['Release Clause'].apply(lambda x:x.replace('K',''))
d1['Release Clause'] = d1['Release Clause'].apply(lambda x:x.strip())

In [210]:
d1['Release Clause'] = d1['Release Clause'].astype(float)

In [211]:
d1['Release Clause']

0        226.5
1        127.1
2        228.1
3        138.6
4        196.4
         ...
18202    143.0
18203    113.0
18204    165.0
18205    143.0
18206    165.0
Name: Release Clause, Length: 16643, dtype: float64

In [212]:
d1.drop(['Real Face','Jersey Number'],axis=1,inplace=True)

In [213]:
d1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16643 entries, 0 to 18206
Data columns (total 22 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        16643 non-null  int64
 1   Name                      16643 non-null  object
 2   Age                       16643 non-null  int64
 3   Nationality               16643 non-null  object
 4   Overall                   16643 non-null  int64
 5   Potential                 16643 non-null  int64
 6   Club                      16643 non-null  object
 7   Value                     16643 non-null  float64
 8   Wage                      16643 non-null  int64
 9   Special                   16643 non-null  int64
 10  Preferred Foot            16643 non-null  object
 11  International Reputation  16643 non-null  float64
 12  Weak Foot                 16643 non-null  float64
 13  Skill Moves               16643 non-null  float64
 14  Work Rate                 16643 non-null  object
 15  Body Type                 16643 non-null  object
 16  Position                  16643 non-null  object
 17  Joined                    16643 non-null  int64
 18  Contract Valid Until      16643 non-null  int64
 19  Height                    16643 non-null  float64
 20  Weight                    16643 non-null  int32
 21  Release Clause            16643 non-null  float64
dtypes: float64(6), int32(1), int64(8), object(7)
memory usage: 2.9+ MB

In [214]:
d1_num = d1.select_dtypes(np.number)
d1_num.head()

,ID,Age,Overall,Potential,Value,Wage,Special,International Reputation,Weak Foot,Skill Moves,Joined,Contract Valid Until,Height,Weight,Release Clause
0,158023,31,94,94,110.5,565,2202,5.0,4.0,4.0,2004,2021,5.70,159,226.5
1,20801,33,94,94,77.0,405,2228,5.0,4.0,5.0,2018,2022,6.20,183,127.1
2,190871,26,92,93,118.5,290,2143,5.0,5.0,5.0,2017,2022,5.90,150,228.1
3,193080,27,91,93,72.0,260,1471,4.0,3.0,1.0,2011,2020,6.40,168,138.6
4,192985,27,91,92,102.0,355,2281,4.0,5.0,4.0,2015,2023,5.11,154,196.4

In [215]:
d1_cat = d1.select_dtypes(object)
d1_cat.head()

,Name,Nationality,Club,Preferred Foot,Work Rate,Body Type,Position
0,L. Messi,Argentina,FC Barcelona,Left,Medium/ Medium,Messi,RF
1,Cristiano Ronaldo,Portugal,Juventus,Right,High/ Low,C. Ronaldo,ST
2,Neymar Jr,Brazil,Paris Saint-Germain,Right,High/ Medium,Neymar,LW
3,De Gea,Spain,Manchester United,Right,Medium/ Medium,Lean,GK
4,K. De Bruyne,Belgium,Manchester City,Right,High/ High,Normal,RCM

In [216]:
d1_num.isnull().sum()

ID                          0
Age                         0
Overall                     0
Potential                   0
Value                       0
Wage                        0
Special                     0
International Reputation    0
Weak Foot                   0
Skill Moves                 0
Joined                      0
Contract Valid Until        0
Height                      0
Weight                      0
Release Clause              0
dtype: int64

In [217]:
d1_num.shape

(16643, 15)

In [218]:
d1_cat.isnull().sum()

Name              0
Nationality       0
Club              0
Preferred Foot    0
Work Rate         0
Body Type         0
Position          0
dtype: int64

In [219]:
d1_cat.shape

(16643, 7)

In [221]:
d2 = pd.concat([d1_num,d1_cat],axis=1)
d2.head()

,ID,Age,Overall,Potential,Value,Wage,Special,International Reputation,Weak Foot,Skill Moves,...,Height,Weight,Release Clause,Name,Nationality,Club,Preferred Foot,Work Rate,Body Type,Position
0,158023,31,94,94,110.5,565,2202,5.0,4.0,4.0,...,5.70,159,226.5,L. Messi,Argentina,FC Barcelona,Left,Medium/ Medium,Messi,RF
1,20801,33,94,94,77.0,405,2228,5.0,4.0,5.0,...,6.20,183,127.1,Cristiano Ronaldo,Portugal,Juventus,Right,High/ Low,C. Ronaldo,ST
2,190871,26,92,93,118.5,290,2143,5.0,5.0,5.0,...,5.90,150,228.1,Neymar Jr,Brazil,Paris Saint-Germain,Right,High/ Medium,Neymar,LW
3,193080,27,91,93,72.0,260,1471,4.0,3.0,1.0,...,6.40,168,138.6,De Gea,Spain,Manchester United,Right,Medium/ Medium,Lean,GK
4,192985,27,91,92,102.0,355,2281,4.0,5.0,4.0,...,5.11,154,196.4,K. De Bruyne,Belgium,Manchester City,Right,High/ High,Normal,RCM

In [222]:
d2.isnull().sum().sum()

0

In [223]:
d2.shape

(16643, 22)

In [ ]:
import pandas as pd

In [224]:
d2.to_excel('football_players_T.xlsx')